@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

.font-sanskrit {
  font-family: 'Sanskrit Text', serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF7F50;
  border-radius: 10px;
  max-height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}